<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CourseCategoryMapper">
    <select id="QueryCourseCategory" resultType="com.xuecheng.content.model.dto.QueryCourseCategoryDto"
            parameterType="String">
        with recursive t1 as (select *
                              from course_category
                              where id = #{courseId}
                              union all
                              select t.*
                              from course_category t
                                       inner join t1 on t1.id=t.parentid)
        select *
        from t1
        order by t1.id, t1.orderby
    </select>
</mapper>
